
.list-img{
    margin: auto;
    width: 50%;
}

.list-img ul{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.list-img img{
    margin: 24px;
    border-radius: 12px;
    border: 2px solid var(--color1);

    min-height: 150px;
    max-height: 150px;
    min-width: 150px;
    max-width: 150px;
}

