.input-main{
    width: 100%;
    padding: 32px 0px;
    text-align: center;
    display: inline-block;
}

.input-main input{
    font-size: 16px;
    padding: 12px;
    margin: 12px;
    width: 50%;
}

.input-main button{
    padding: 12px;
    width: 50%;
    margin-top: 12px;
    margin-bottom: 32px;
}

.input-main button:hover{
    color: white;
    cursor: pointer;
    background-color: var(--color1);
}

.input-selectlang select{
    padding: 12px;
    width: 25%;
}