
.process-btn{
    text-align: center;
}

.process-btn button{
    padding: 12px;
    border-radius: 12px;
    border: 2px solid white;
    color: white;
    background-color: #4B3869;
    margin: 12px;
    width: 25%;
    font-size: 24px;
}

.process-btn button:hover{
    cursor: pointer;
    background-color: var(--color2);
}